@{
    Layout = "_LayoutAdmin";
}
@model List<CategoryModel>

@section CardHeader{
    <div style="display:flex; justify-content:space-between;">
    <span>Categories</span>
    <a asp-action="Add" asp-controller="Category" class="btn btn-primary btn-sm mb-2">Add</a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Addition</th>
            <th>Updated</th>
            <th>Edit - Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    @if (item.IsActive)
                    {
                        <span class="badge bg-success text-white">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger text-white">Passive</span>
                    }
                </td>
                <td>@item.Created</td>
                <td>@item.Updated</td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>